body{
		font-style: Verdana;
		background-color: #4C4C4C;
}
header{
	width: 780px;
	height: 100px;
	background-color: #DC004F;
	margin: auto;
	border-radius: 20px 20px 0px 0px;
	box-sizing: border-box;
}
.titulo{
	padding: 10px;
	font-size: 60px;
	text-align: center;
	color: #FFE9F1;
	margin: auto;
}
nav{
	width: 780px;
	height: 40px;
	margin: auto;
	background-color: #DC004F;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	border: 4px solid #BD0044;
}
nav:hover{
}
.menu
{
	text-align: center;
	text-decoration: none;
	color: #FFE9F1;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;

}
.menu:hover{
	background-color: #BD0044;
}
.pagina1{
	width: 780px;
	height: 1600px;
	margin: 0px auto;
	background-color: #FFE9F1;
	box-sizing: border-box;
}
.palabras{
	width: 780px;
	height: 600px;
	margin: 0px auto;
	background-color: #FFE9F1;
	box-sizing: border-box;
}
.parrafo{
	font-size: 18px;
	text-align: justify;
	padding: 20px;
}
table{
	margin: auto;
	background: linear-gradient(#DC004F, #BD0044);
	color: #EFEFEF;
	font-weight: bold;
}
a{
	text-decoration: none;
}
footer{
	width: 780px;
	height: 100px;
	margin: auto;
	background-color: #DC004F;
	text-align: center;
	padding: 40px;
	color: #FFE9F1;
	border-radius: 0px 0px 20px 20px;
	box-sizing: border-box;
}