body{
		font-style: Verdana;
		background-color: #CD004A;
}
header{
	width: 800px;
	height: 100px;
	background-color: #FFE9F1;
	margin: auto;
	border-radius: 80px 80px 0px 0px;
	box-sizing: border-box;
}
.titulo{
	padding: 10px;
	font-size: 60px;
	text-align: center;
	color: #DC004F;
	margin: auto;
}
nav{
	width: 800px;
	height: 40px;
	margin: auto;
	background-color: #DC004F;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: auto auto auto;
	border: 4px solid #BD0044;
}
nav:hover{
}
a{
	text-align: center;
	text-decoration: none;
	color: #FFE9F1;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
	margin: auto;
}
a:hover{
	background-color: #BD0044;
}
article{
	width: 800px;
	height: 800px;
	margin: 0px auto;
	background-color: #FFE9F1;
	box-sizing: border-box;
}
.parrafo{
	font-size: 18px;
	text-align: justify;
	padding: 20px;
}